img {
    width: 400px;
}


body {
    /* text-align: center; */
    font-family: 'Arial';
    background: rgb(42, 155, 155);
}

iframe {
    
    aspect-ratio: 16 / 9;
    width: 33%;
    height:100%;
    border-radius: 20px; 
    border-style: none;
}

nav ul li {
    float: left;
}

nav ul {
    overflow: hidden;
    background-color: #333333;
    list-style-type: none;
}

nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}